* { scrollbar-width: none; }

::-webkit-scrollbar { display: none; }

.hextra-filetree .inline-block {
	width: 100%;
	overflow-x: auto; }

.hextra-filetree span {
	white-space: nowrap;
	white-space: -moz-pre-wrap; }

.hextra-filetree .inline-flex.cursor-default.items-center {
	padding-right: 1rem; }